<div class="container-page">
  <div flex-container="row">

    <!-- Sidebar -->
    <div flex-item="2" class="sidebar" flex-item-order="2">
      <div class="">
        <div class="user-content">
          <picture class="picture">
            <img src="{{ user.picture }}">
          </picture>
          <span class="welcome">Signed in as</span>
          <label class="name">{{ user.name }}</label>
        </div>

        <hr>

        <ul class="menu">
          <li><a ng-class="{'active': view.dashboard}">
            <i class="mdi mdi-view-dashboard tc-yellow-700"></i>
            <span>Dashboard</span>
          </a></li>
          <li><a ng-class="{'active': view.statistics}">
            <i class="mdi mdi-chart-histogram tc-light-green-500"></i>
            <span>Statistics</span>
          </a></li>
        </ul>
      </div>

      <a class="logout" href="">logout <i class="mdi mdi-logout"></i></a>
    </div>

    <!--  Left Board -->
    <div flex-item="10" flex-item-order="3">
      <div class="card">
        <div class="toolbar">

          <span class="toolbar__label fs-title tc-grey-800">PD Attendance</span>

          <div class="toolbar__right">
            <lx-search-filter ng-model="searchGroups" closed theme="light"></lx-search-filter>

          </div>
        </div>
      </div>


      <dashboard></dashboard>

    </div>
  </div>