<div class="container-page">
  <div flex-container="row">

    <!-- Sidebar -->
    <div flex-item="2" class="sidebar" flex-item-order="2">
      <div class="">
        <div class="user-content">
          <picture class="picture">
            <img src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <span class="welcome">Signed in as</span>
          <label class="name">Stannis Beratheon</label>
        </div>

        <hr>

        <ul class="menu">
          <li><a ui-sref="admin.dashboard" ng-click="setActive()" ng-class="{'active': view.dashboard}">
            <i class="mdi mdi-view-dashboard tc-yellow-700"></i>
            <span>Dashboard</span>
          </a></li>
          <li><a ui-sref="admin.statistics" ng-click="setActive()" ng-class="{'active': view.statistics}">
            <i class="mdi mdi-chart-histogram tc-light-green-500"></i>
            <span>Statistics</span>
          </a></li>
        </ul>
      </div>

      <a class="logout" href="">logout <i class="mdi mdi-logout"></i></a>
    </div>

    <!--  Left Board -->
    <div flex-item="10" flex-item-order="3">
      <div class="card">
        <div class="toolbar">
      <!--   <div class="toolbar__left mr+++">
            <button class="btn btn--l btn--black btn--icon" lx-ripple>
                <i class="mdi mdi-menu"></i>
            </button>
          </div> -->

          <span class="toolbar__label fs-title tc-grey-800">PD Attendance</span>

          <div class="toolbar__right">
            <lx-search-filter closed theme="light"></lx-search-filter>

            <!-- <lx-dropdown position="right" from-top>
                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Action</a></li>
                        <li><a class="dropdown-link">Another action</a></li>
                        <li><a class="dropdown-link">Something else here</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                        <li><a class="dropdown-link">Separated link</a></li>
                    </ul>
                </lx-dropdown-menu>
              </lx-dropdown> -->
            </div>
          </div>
        </div>

        <!-- Nested View Here -->
        <div ui-view>

        </div>

      </div>
    </div>
  </div>












