
<div class="dashboard-view">
  <pd-group  ng-repeat="(groupid, pdgroup) in groups | filter:parent.searchGroups"></pd-group>
  <div class="clearfix"></div>
  <div id="create-group-btn">
    <button ng-click="openDialog()" class="btn btn--xl btn--green btn--fab" lx-ripple lx-tooltip="Create a new group">
      <i class="mdi mdi-account-multiple-plus"></i>
    </button>
  </div>
</div>
</div>


  <!-- New Group Dialog -->
  <lx-dialog class="dialog dialog--s" id="create-group" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-green-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        Create New Group
      </span>

      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-dialog-close>
          <i class="mdi mdi-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dialog__content">

    <div flex-container="row">
      <div flex-item="9" class="pl++">

        <lx-text-field label="Group name">
        <textarea required="true" ng-trim="true" ng-model="groupName"></textarea>
      </lx-text-field>
    </div>
  </div>

</div>

<div class="dialog__actions">
  <button class="btn btn--m btn--black btn--flat" ng-click="createGroup(groupName)" lx-ripple>create</button>
</div>
</lx-dialog>
