<div class="dashboard-view">

  <div flex-container="row" flex-gutter="24">

    <div flex-item>
      <div class="card">
        <div class="card">
          <div class="toolbar bgc-blue-grey-700">
            <span class="toolbar__label fs-title tc-white-1 display-block">Team Alpha</span>
            <!-- <span class="fs-headline tc-white-1 display-block">user</span> -->
          </div>
        </div>

        <div class="p+">
          <picture class="picture">
            <img  lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img lx-ripple lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
        </div>

        <!-- <div class="card__actions">
          <button class="btn btn--m btn--black btn--flat" lx-ripple>Share</button>
          <button class="btn btn--m btn--orange btn--flat" lx-ripple>Learn more</button>
        </div> -->
      </div>
    </div>

    <div flex-item>
      <div class="card">
        <div class="card">
          <div class="toolbar bgc-blue-grey-700">
            <span class="toolbar__label fs-title tc-white-1 display-block">Team Deuces</span>
            <!-- <span class="fs-headline tc-white-1 display-block">user</span> -->
          </div>
        </div>
        <div class="p+">
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
          <picture class="picture">
            <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
          </picture>
        </div>

        <!-- <div class="card__actions">
          <button class="btn btn--m btn--black btn--flat" lx-ripple>Yes</button>
          <button class="btn btn--m btn--orange btn--flat" lx-ripple>No</button>
        </div>
      -->      </div>
    </div>

    <div flex-item>
      <div class="card">
        <div class="card">
          <div class="toolbar bgc-blue-grey-700">
            <span class="toolbar__label fs-title tc-white-1 display-block">Team Vesta</span>
            <!-- <span class="fs-headline tc-white-1 display-block">user</span> -->
          </div>
        </div>
        <div flex-container="row">
          <div flex-item flex-container="column">
            <div flex-item>
              <div class="p+">
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
                <picture class="picture">
                  <img class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
                </picture>
              </div>
            </div>

           <!--  <div class="card__actions">
              <button class="btn btn--m btn--black btn--flat" lx-ripple>Free sample</button>
              <button class="btn btn--m btn--orange btn--flat" lx-ripple>Review</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Dialog -->
  <lx-dialog class="dialog dialog--s" id="create-group" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-green-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        Create New Group
      </span>

      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
          <i class="mdi mdi-close-box-outline"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dialog__content">

    <div flex-container="row">
      <div flex-item="9" class="pl++">
    
        <lx-text-field label="new group's name">
        <textarea ng-model="groupName"></textarea>
      </lx-text-field>
    </div>
  </div>

</div>

<div class="dialog__actions">
  <button class="btn btn--m btn--black btn--flat" ng-click="createGroup()" lx-ripple>create</button>
</div>
</lx-dialog>
<!-- end of dialog -->

<div id="create-group-btn">
  <button ng-click="openDialog()" class="btn btn--xl btn--green btn--fab" lx-ripple lx-tooltip="Create a new group">
    <i class="mdi mdi-account-multiple-plus"></i>
  </button>

</div>