<div>
  <div class="card">
    <div class="">
      <div class="toolbar bgc-blue-grey-700">
        <span class="toolbar__label fs-subhead tc-white-1 display-block">{{ pdgroup.name | uppercase }}</span>
      </div>
    </div>
    <div flex-container="row">
      <div flex-item flex-container="column">
        <div flex-item>
          <div class="p+">
            <picture class="picture">
              <img lx-tooltip="user" tooltip-position="bottom" class="avatar" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-05-05/4757680749_e820f68d6f8e6af65782_72.jpg">
            </picture>
          </div>
        </div>

        <div class="card__actions">
          <div class="fab" style="float:right;">
            <button ng-click="showFellowsDialog()" class="fab__primary btn btn--xl btn--black bgc-white tc-blue-grey-700 btn--fab" lx-ripple lx-tooltip="add a fellow" tooltip-position="top">
              <i class="mdi mdi-settings"></i>
              <i class="mdi mdi-account-plus"></i>
            </button>

            <div class="fab__actions fab__actions--left">
              <button class="btn btn--l btn--red btn--fab" lx-ripple lx-tooltip="delete this group" ng-click="deleteGroup()" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
              <button class="btn btn--l tc-white bgc-blue-grey-700 btn--fab" lx-ripple lx-tooltip="change group name" ng-click="editGroup()" tooltip-position="top"><i class="mdi mdi-pencil"></i></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Add Fellow Dialog -->
  <lx-dialog class="dialog dialog--l" id="list-{{ pdgroup.$id }}" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-blue-grey-700 pl++">
      <span class="toolbar__label tc-white fs-subhead">
       Add a Fellows to {{ pdgroup.name | uppercase }} Group
     </span>

     <div class="toolbar__right">
      <button class="btn btn--l btn--white btn--icon" lx-dialog-close>
        <i class="mdi mdi-close"></i>
      </button>
    </div>
  </div>
</div>

<div class="dialog__content">

  <div flex-container="row">
    <div flex-item="9" class="pl++">

      <ul class="list mt++">

        <li class="list-row" ng-repeat="(googleid, fellow) in fellows" ng-if="!fellow.pd_group">
          <div class="list-row__primary">
            <img src="{{ fellow.picture }}" width="40" height="40" class="img-round">
          </div>

          <div class="list-row__content">
            <span class="display-block">{{ fellow.name }}</span>
            <span class="display-block fs-body-1 tc-black-2">{{ fellow.cohort.name }}</span>
          </div>

          <div class="list-row__secondary">
            <div class="checkbox">
              <input type="checkbox" id="{{ googleid }}" class="checkbox__input">
              <label for="{{ googleid }}" class="checkbox__label"> </label>
            </div>
          </div>
        </li>

      </ul>


    </div>
  </div>

</div>

<div class="dialog__actions">
<button class="btn btn--m btn--black btn--flat" ng-click="rename(newGroupName)" lx-ripple>add selected</button>
</div>
</lx-dialog>


<!-- Rename Dialog -->
<lx-dialog class="dialog dialog--m" id="{{ pdgroup.$id }}" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
<div class="dialog__header">
  <div class="toolbar bgc-blue-grey-700 pl++">
    <span class="toolbar__label tc-white fs-subhead">
     change name: {{ pdgroup.name | uppercase }}
   </span>

   <div class="toolbar__right">
    <button class="btn btn--l btn--white btn--icon" lx-dialog-close>
      <i class="mdi mdi-close"></i>
    </button>
  </div>
</div>
</div>

<div class="dialog__content">

  <div flex-container="row">
    <div flex-item="9" class="pl++">

      <lx-text-field label="New name">
      <textarea required="true"  ng-trim="true" ng-model="newGroupName"></textarea>
    </lx-text-field>
  </div>
</div>

</div>

<div class="dialog__actions">
  <button class="btn btn--m btn--black btn--flat" ng-click="rename(newGroupName)" lx-ripple>save</button>
</div>
</lx-dialog>
</div>

