<div class="dashboard-view">
  <pd-group  ng-repeat="(groupid, pdgroup) in groups | filter:parent.searchGroups"></pd-group>
  <div class="clearfix"></div>
  <div id="create-group-btn">
    <button ng-click="openDialog()" class="btn btn--xl btn--green btn--fab" lx-ripple lx-tooltip="Create a new group">
      <i class="mdi mdi-account-multiple-plus"></i>
    </button>
  </div>

  <!-- Add Fellow Dialog -->
<lx-dialog class="dialog dialog--l" id="fellows-list" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-blue-grey-700 pl++">
      <span class="toolbar__label tc-white fs-subhead">
       Add Fellows to {{ currentGroup.name | uppercase }} Group
      </span>

      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-dialog-close>
          <i class="mdi mdi-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dialog__content">
    <div flex-container="row">
      <div flex-item="9" class="pl++">
        <div flex-container="row">
          <div flex-item>
            <lx-text-field label="search fellows">
            <input type="text" ng-model="searchFellowsList">
          </lx-text-field>
        </div>
      </div>

      <ul class="list mt++">
        <li class="list-row" ng-repeat="fellow in fellows | filter:searchFellowsList" ng-if="!fellow.pd_group">
          <div class="list-row__primary">
            <img src="{{ fellow.picture }}" width="40" height="40" class="img-round">
          </div>

          <div class="list-row__content">
            <span class="display-block">{{ fellow.name }}</span>
            <span class="display-block fs-body-1 tc-black-2">{{ fellow.cohort.name }}</span>
          </div>

          <div class="list-row__secondary">
            <div class="checkbox">
            <input type="checkbox" ng-model="eachFellow[fellow.$id]" ng-change="onSelect(fellow)" id="{{ fellow.$id }}" class="checkbox__input">
              <label for="{{ fellow.$id }}" class="checkbox__label"> </label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>

  <div class="dialog__actions">
    <button class="btn btn--m btn--black btn--flat" ng-click="addToGroup()" lx-ripple>Add Selected</button>
  </div>
</lx-dialog>


<!-- New Group Dialog -->
<lx-dialog class="dialog dialog--s" id="create-group" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-green-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        Create A New Group
      </span>

      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-dialog-close>
          <i class="mdi mdi-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="dialog__content">
    <div flex-container="row">
      <div flex-item="9" class="pl++">

        <lx-text-field label="Group name">
          <textarea required="true" ng-trim="true" ng-model="groupName"></textarea>
        </lx-text-field>
      </div>
    </div>
  </div>

  <div class="dialog__actions">
    <button class="btn btn--m btn--black btn--flat" ng-click="createGroup(groupName)" lx-ripple>Create</button>
  </div>
</lx-dialog>
</div>
