<div id="stats">
	<h2 class="text-center">Reports on PD Attendance</h2>
	
	<h4>Search by Categories</h4>
	<button class="btn btn--l btn--green btn--raised">Select Date</button>
  <span ng-show=pdDates>
  	<input type="date" id="dateSelect" name="date-select" min=2015-01-01 ng-change="fetchDateContents()" ng-model="dateContents" required />
  </span>

	<div class="card">
    <lx-tabs>
        <lx-tab heading="Search by Fellows">

	            <div class="mt++" flex-container="row" flex-gutter="24">
						    <div flex-item="5" class="mt+">
			            <div flex-item>
						        <div class="card bgc-blue-grey-700 tc-white-1">
						            <div class="toolbar">
						                <span class="toolbar__label fs-title ml"><strong>{{allFellows.length}}</strong> fellows</span>

						                <div class="toolbar__right">
						                    <button class="btn btn--l btn--black btn--icon" lx-ripple>
						                        <i class="mdi mdi-apps"></i>
						                    </button>

						                    <lx-search-filter model="filterFellows" position="right" closed></lx-search-filter>
						                </div>
						            </div>
						        </div>
						      </div>

						      <ul class="list mt++">
				            <li ng-repeat="f in allFellows | filter:filterFellows" class="list-row list-row--has-separator">
				                <div class="list-row__primary">
				                  <i class="icon icon--l icon--blue-grey icon--circled mdi">{{ $index + 1 }}</i>
				                </div>

				                <div class="fellow-link list-row__content" ng-click="fellowDetails(f.$id)">
				                    <span class="display-block">
				                      {{ f.name }}
				                    </span>
				                    <span class="display-block fs-body-1 tc-black-2">{{ f.cohort.name }}</span>
				                </div>
				            </li>
			            </ul>
		            </div>


						    <div id="fellow-detail" flex-item="7" class="mt+" ng-show="fellow">
						       <div flex-item>
						        <div class="card">
						            <div flex-container="row">
						                <div class="card__img card__img--left" style="height: 260px">
						                    <img src="{{fellow.picture}}">
						                </div>

						                <div flex-item flex-container="column">
						                    <div flex-item>
						                        <div class="p+">
						                            <strong class="fs-headline display-block">{{fellow.name}}</strong>
						                            <div flex-container="row">
						                            	<div flex-item="6">
						                            		<span class="fs-subhead tc-black-2 display-block"><span class="tc-blue-grey-500">Slack Id:</span> <em>{{fellow.slack_id}}</em></span>
								                            <span class="fs-subhead tc-black-2 display-block"><span class="tc-blue-grey-500">Cohort:</span> {{fellow.cohort.name}}</span>
								                            <span class="fs-subhead tc-black-2 display-block"><span class="tc-blue-grey-500">Level:</span> {{fellow.level}}</span>
								                            <span class="fs-subhead tc-black-2 display-block"><span class="tc-blue-grey-500">Email:</span> {{fellow.email}}</span>
						                            	</div>
						                            	<div flex-item="6"></div>
						                            </div>
						                        </div>
						                    </div>

						                    <div class="card__actions" flex-container="row" style="background-color: {{fellow.cohort.color}};">
						                      <div flex-item="8">
						                        <span class="fs-subhead tc-white-1 display-block"><span class="tc-black-2">Fellow since:</span> {{fellowStartDate | date:'medium'}}</span>
						                      </div>
						                      <div flex-item="4">
						                        <a href="mailto:{{fellow.email}}?subject=Professional Development:" class="btn btn--m btn--white btn--flat" lx-ripple>Send A Mail</a>
					                        </div>
						                        <!-- <button class="btn btn--m btn--orange btn--flat" lx-ripple>Review</button> -->
						                    </div>
						                </div>
						            </div>
						        </div>
						    	</div>
						    </div>
						  </div>

        </lx-tab>

        <lx-tab heading="Search by Date">
            <p class="p+">
            	<table class="data-table">
				        <thead>
				            <tr>
				              <th>S/N</th>
				              <th>Slack ID</th>
				              <th>Code</th>
				              <th class="data-table__sortable-cell data-table__sortable-cell--desc">Attended</th>
				              <th>
				                  <i class="mdi mdi-comment-text"></i>
				                  <span>Comments</span>
				              </th>
				            </tr>
				        </thead>

				        <tbody>
				            <tr ng-repeat="fellow in allByDate">
				              <td>{{ $index + 1 }}</td>
				              <td>{{ fellow.slack }}</td>
				              <td>{{ fellow.code }}</td>
				              <td>
				                <span ng-show="fellow.attended === true"><i class="icon icon--s icon--green icon--flat mdi mdi-check"></i></span>
				                <span ng-show="fellow.attended === false"><i class="icon icon--s icon--red icon--flat mdi mdi-close"></i></span>
				              </td>
				              <td>Click to add</td>
				            </tr>
				        </tbody>
				      </table>
            </p>
        </lx-tab>

        <lx-tab heading="Search by PD Groups">
            <p class="p+">Its very close, wait for it...</p>
        </lx-tab>
    </lx-tabs>
  </div>

  <br />
  <h4>Generate Monthly Report</h4>
  <button class="btn btn--l btn--green btn--raised">Select Month</button>
  <input type="month" />
</div>