
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../bower_components/mdi/scss/materialdesignicons.scss";
@import "../../bower_components/lumx/dist/scss/_lumx.scss";

@mixin border-radius($radius){
  @include border-top-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
}

@mixin box-shadow($arg) {
  -webkit-box-shadow: $arg;
  -moz-box-shadow: $arg;
  box-shadow: $arg;
}

body {
  font-size: 1.125rem;
}

$avatar-size: 48px;
$color-clouds: #ecf0f1;

.login-page {
  text-align: center;

  button {
    margin-top: 250px;
  }
}

.container-page {

  .header {
    margin-bottom: 5px;
  }

  .sidebar {
    background: #3c4b5b;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: $color-clouds;
    height: 705px;

    a {
      @include transition(all .200s ease-in-out);
    }

    .user-content {
      padding-top:10px;
      padding-bottom: 5px;
      margin-left: 20px;
    }

    .picture {
      width: $avatar-size;
      float: left;
      margin-right: 20px;
      img {
        @include border-radius(5px);
      }
    }

    .welcome {
      display: block;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #6B7682;
      font-weight: 400;
      letter-spacing: .5px;
      font-size: .8rem;
    }

    .name {
      font-size: .8rem;
    }

    hr {
      display: block;
      clear: both;
      border: 0;
      border-top: 1px solid #536373;
      margin-top: 2px;
      margin-bottom: 0;
      height: 1px;
      width: 105%;
      margin-left: -17px;
      @include box-shadow(1px 1px 1px #162739 inset);
    }

    .menu {
      list-style-type: none;

      .active {
        background-color: #162739;
      }

      li {
        margin-bottom: 0px;
        display: block;
        a {
          text-align: center;
          display: block;
          color: $color-clouds;
          font-size: 1em;
          text-decoration: none;
          letter-spacing: 1px;
          padding: 18px 0;

          i {
            display: block;
            margin-right: 10px;
            font-size:33px;
          }

          span {
            display: inline-block;
            font-size:15px;
            margin-top: -20px;
            }

          &:hover {
            background-color: #536373;
          }
        }
      }
    }

    .logout {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: $color-clouds;
      text-align: center;
      padding: 10px 0;
      background-color: #243341;

      &:hover{
        background-color: #536373;
      }
    }
  }
}

.dashboard-view {
  display: block;
  height: inherit;
  padding:20px;

  #create-group-btn {
    display: inline-block;
    position: absolute;
    bottom: 44px;
    right: 52px;
  }

  .avatar {
    cursor: pointer;
    @include border-radius(100%);
    @include box-shadow(3px);
    margin: 0px 0px 5px 5px;
    display: inline-block;
    width: $avatar-size;
    height: $avatar-size;
    background-position: center;
    background-size: cover;
  }


}






















